.Zayavka {
  width: 1438px;
  height: 434px;
  background: #fffdf5;width: 1440px;
    height: 526px;
    flex-shrink: 0;
    background: #FFFDF5;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    flex-shrink: 0;
  

}

.Zayavka .zag {
  display: flex;
  width: 561px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 173px;
  margin-left: 376px;
}

.Zayavka .podpis {
  color: #121212;
  font-family: Roboto;
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 300;
  line-height: 118%;
  margin-left: 452px;
  margin-top: 52px;
}

.Zayavka .spasibo {
  display: flex;
  width: 146px;
  height: 31px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #514a7e;
  font-family: Bad Script;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 87.305%;
  margin-left: 915px;
}

.Zayavka .exit {
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  fill: #514a7e;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  background: #514a7e;
  margin-left: 450px;
  position: absolute;
  top: 50px;
  right: 135px;
}
