.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  width: 36px;
  height: 36px;
  order: 1;
  margin-right: auto;
  background-color: transparent;
  border: 0px;
}

.search {
  width: 308px;
  order: 2;
  background-color: transparent;
  border: 0px;
  border-bottom: 0.5px solid;
  border-bottom-color: gray;
}

.button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  order: 4;
  opacity: 0.5;
}

.button.search {
  width: 20px;
  height: 20px;
  order: 1;
 

}

.button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  order: 2;
  background-color: transparent;
  border: 0px;
}
